form(action="/add-note" method="post" id="note").flex.flex-col
  input(type="hidden" name="resource" value=`${resource_id}`)
  input(type="hidden" name="note" value=`${note.id}`)
  textarea(name="content" cols="50" rows="5").text-md.p-4

  input(type="submit" id="submitFormInput")
