doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.bg-gray-100
    div(class="mx-auto max-w-7xl sm:px-6 lg:px-8")
      header(class="bg-white")
        div(class="mx-auto max-w-7xl py-4 px-4 sm:px-6 lg:px-8")
          h1(class="text-xl font-semibold leading-6 text-gray-900") Zettelkasten
      block content
